nav .navbar-nav li a{
    color: #0B5A6B !important;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.active {
    text-decoration: underline;
}

.project-image {
    width: 100%;
    height: 100%;
}