nav .navbar-nav li a{
    color: white !important;
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
}

#nav-custom {
    background-image: url("../media/bg_landscape.jpg");
}

.active {
    text-decoration: underline;
}